@import "/src/assets/style/veriables";

.about-title {
    @include font-montserrat (900, 36px);
    width: auto;
}

.icon-for-title {
    display: flex;
    justify-content: center;
    // position: relative;
    margin-top: 10px;
}
.icon-xx {
    background-image: url("/assets/icon/icon-xx.svg");
    // position: absolute;
    background-repeat: no-repeat;
    height: 15px;
    width: 35px;
}
