@import "/src/assets/ScssStyle/veriables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    // background-color: gold; 
}

.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 100px;
    /* background-color: gold; */
    background-color: #25292b;
    @include font-open_sans (400, 16px)
}

.conteiner {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    max-width: 15%;
    flex: 0 0 15%;
    color: white;
}
.menu {
    max-width: 50%;
    flex: 0 0 50%;
}
.menu-list {
    display: flex;
}
li {
    list-style-type: none;
}
.menu-list li {
    width: 20%;
}
.menu-list a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 50px;
}
.menu-list a:hover {
    color: #ee6059;
}
.icon-arrow {
    background-image: url("/assets/icon/icon-arrow-down-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    right:  0;
    top: 18px;
}
.dropdown:hover .icon-arrow {
    background-image: url("/assets/icon/icon-arrow-down-pink.svg")
}
.icon-arrow::after {
    position: absolute
}
.dropdown {
    position: relative;
    display: inline;
    z-index: 10;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e2123;
    // top: 75px;
    /* border-radius: 10px; */
    width: 200%;
}
.dropdown-content a {
    color: white;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ee6059;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .menu-dropdown a {
    color: #ee6059;
}
.dropdown:after {
    position: absolute;
}

.header-links {
    display: flex;

}
.border-icon {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #ee6059;
    position: relative;
}

.icon-instagram {
    @include icon ("/assets/icon/icon-instagram.svg", 20px, 20px, 10px, 10px);
}
.icon-facebook {
    @include icon ("/assets/icon/icon-facebook.svg", 20px, 20px, 10px, 10px);
}
.icon-twitter {
    @include icon ("/assets/icon/icon-twitter.svg", 20px, 20px, 10px, 10px);
}
.icon-youtube {
    @include icon ("/assets/icon/icon-youtube.svg", 20px, 20px, 10px, 10px);
}

.border-icon:hover {
    background-color: #25292b;
    // background-image: url("images/icon-border-white.png");
    cursor: pointer;
}
/* .menu-list:first-child a,
.menu-list .dropdown:first-child a {
    border-radius: 10px 10px 0 0;
}
.menu-list .dropdown a {
    border-radius: 0;
} */
